<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        html{
            background: url('/static/05-1-6.jpg') rgba(7, 1, 12, 0.61);
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            min-height: 600px;
        }
    </style>
</head>
<body>
    <center>
    <h1 style="color:white;">WELCOME TO UST</h1>


    <h3 style="color:white;">
        <span id="result-nam" >{{w}}</span>
    </h3>
    <h3>
        <span id="result-uid" style="color:white;">{{x}}</span>
    </h3>
    <h3>
        <span style="color:white;" id="result-cnam">{{y}}</span>
    </h3>
    <h3>
        <span style="color:white;" id="result-cmail">{{z}}</span>
    </h3>
        </center>
<marquee><h2 style="color:white;" align="text-bottom">Digital is our DNA. We’re listeners and leaders, working together to take on tomorrow’s challenges.</h2></marquee>

</body>
</html>